@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("Helvetica Neue"), url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("Helvetica Neue"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("Helvetica Neue"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
:root {
  --primary-color-500: #3f873b;
  --primary-color-600: #2d5837;
  --primary-color-700: #244035;
  --primary-color-800: #203634;
  --primary-color-900: #1e3234;
  --background-dark: #1a2833;
  --text-color: #abb0b4;
  --text-color-light: #e9eaeb;
  --accent-color: #255cf5;
}

html {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-dark);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color-light);
  -webkit-font-smoothing: antialiased;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  min-height: 88px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--primary-color-800);
  z-index: 100;
}

.nav-logo {
  margin: 16px 125px 16px 8px;
}

.toggle-lang {
  margin: 0 8px 16px auto;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.toggle-lang-mobile {
  display: none;
  margin-top: 24px;
  padding: 24px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 32px;
}
.toggle-lang-mobile .toggle-lang-text {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.toggle-lang-mobile .toggle-lang-text.active {
  color: var(--accent-color);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color-light);
}

.navbar {
  min-height: 88px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:hover:not(.active) .nav-link {
  color: var(--accent-color);
  background-color: var(--text-color-light);
}
.nav-item.active .nav-link {
  background-color: var(--accent-color);
}
.nav-item.active .nav-link:hover {
  color: var(--text-color-light);
}

.nav-link {
  padding: 34px 24px 16px 24px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.2s, background-color 0.3s;
  transition: color 0.2s, background-color 0.3s;
}
.nav-link:hover {
  color: var(--accent-color);
}

.dropdown .dropbtn {
  display: none;
}

.sub-menu-cover {
  position: absolute;
  left: 0;
  top: 88px;
  width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--primary-color-800);
  z-index: 200;
  overflow: hidden;
}
.sub-menu-cover ul.sub-menu {
  padding: 16px 0;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid var(--accent-color);
}
.sub-menu-cover ul.sub-menu li.sub-menu-item {
  padding: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.dropdown:hover .sub-menu-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  padding: 88px 0 0;
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  padding: 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  margin: 80px 0;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 700;
  font-size: 128px;
  line-height: 113px;
  color: var(--text-color);
}
h1 span {
  color: var(--primary-color-500);
}

h2 {
  width: 100%;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  color: var(--text-color);
  text-transform: uppercase;
}
h2 span {
  color: var(--primary-color-500);
}

h3 {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: var(--accent-color);
}

.description-block {
  margin: 32px 0 0 410px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.description-block.left {
  margin: 32px 410px 0 0;
}
.description-block p.description-block-subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 88px;
  text-transform: uppercase;
}
.description-block p.description-block-text {
  margin-top: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 145%;
}

/* WELCOME SECTION */
.welcome-section {
  background: url("../img/bg/bg-welcome-section.png") center right no-repeat;
}
.welcome-section p.text-slogan {
  width: 100%;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.welcome-section a.btn-contact-us {
  margin-top: 56px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--text-color-light);
  font-size: 22px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.5s, background-color 0.3s;
  transition: color 0.5s, background-color 0.3s;
}
.welcome-section a.btn-contact-us:hover {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-color-light);
}

/* WHO WE ARE */
.whoweare-section {
  margin-bottom: 40px;
}
.whoweare-section .advantages-block {
  margin: 48px 0 0 0;
  padding: 40px;
  width: 100%;
  background-color: var(--primary-color-500);
}
.whoweare-section p.advantages-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.whoweare-section ul.advantages-list {
  margin: 16px 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0;
  list-style-type: disc;
}
.whoweare-section ul.advantages-list li {
  width: 100%;
  font-size: 22px;
  line-height: 145%;
}

/* TEAM SECTION */
.team-section {
  margin-bottom: 80px;
  padding: 48px 0;
  background-color: var(--primary-color-900);
}
.team-section .team-section-wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
}
.team-section .team-section-wrapper .team-card {
  display: grid;
  grid-template-columns: 173px 1fr;
  gap: 32px;
}
.team-section .team-section-wrapper .team-card .team-member-photo {
  display: block;
  width: 100%;
  max-width: 173px;
  border-radius: 50%;
}
.team-section .team-section-wrapper .team-card .team-member {
  padding-top: 27px;
}
.team-section .team-section-wrapper .team-card p.team-member-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
}
.team-section .team-section-wrapper .team-card p.team-member-name {
  margin: 6px 0 16px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  text-transform: uppercase;
}
.team-section .team-section-wrapper .team-card .team-member-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 16px;
}

/* WHAT WE DO */
.whatwedo-grid {
  margin-top: 56px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.whatwedo-grid-contact {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.whatwedo-grid-contact a.whatwedo-grid-contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  min-height: 56px;
  padding: 15px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);
}
.whatwedo-grid-contact a.whatwedo-grid-contact-btn:hover {
  color: #255cf5;
  background-color: var(--text-color-light);
}

.whatwedo-grid-item {
  padding: 24px;
  height: 400px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--primary-color-600);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.whatwedo-grid-item:nth-child(2), .whatwedo-grid-item:nth-child(4) {
  background-color: var(--primary-color-700);
}
.whatwedo-grid-item:nth-child(3), .whatwedo-grid-item:nth-child(5), .whatwedo-grid-item:nth-child(7) {
  background-color: var(--primary-color-800);
}
.whatwedo-grid-item:nth-child(6), .whatwedo-grid-item:nth-child(8) {
  background-color: var(--primary-color-900);
}
.whatwedo-grid-item:nth-child(9) {
  background-color: var(--accent-color);
}
.whatwedo-grid-item:hover {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-color-light);
}

.whatwedo-text-block {
  display: grid;
  grid-template-rows: 1fr;
}

.whatwedo-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
}

.whatwedo-text {
  margin-top: 8px;
  font-size: 22px;
  line-height: 145%;
}

/* GET ONLINE */
.getonline-block {
  margin: 56px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 32px;
}

.getonline-block-text {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.12px;
  text-align: center;
}

.getonline-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.getonline-vibeo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.getonline-video {
  width: 100%;
  height: 336px;
}

a.getonline-vibeo-btn {
  padding: 15px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.5s, background-color 0.3s;
  transition: color 0.5s, background-color 0.3s;
}
a.getonline-vibeo-btn:hover {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-color-light);
}

/* QUOTE SECTION */
.quote-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.quote-section .quote-section-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote-section blockquote {
  position: relative;
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.quote-section blockquote .quote-text-start {
  position: absolute;
  left: 0;
  top: -80px;
}
.quote-section blockquote .quote-text-end {
  position: absolute;
  right: 0;
  bottom: -30px;
}
.quote-section blockquote .quote-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
}
.quote-section blockquote .quote-author-block {
  margin: 14px 112px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.quote-section blockquote .quote-author-block img.quote-author-avatar {
  border-radius: 50%;
}
.quote-section blockquote .quote-author-block p.quote-author-name {
  font-weight: 500;
  font-size: 16px;
}

/* BECOME */
.become-separator {
  display: none;
}

.become-block {
  margin: 56px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.become-block .become-title {
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px solid rgba(233, 234, 235, 0.2);
}
.become-block .become-title:hover {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.become-block .become-title:hover path {
  fill: #fff;
}
.become-block .become-btn {
  margin-top: 48px;
  padding: 15px 40px;
  min-height: 56px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);
}
.become-block .become-btn:hover {
  color: var(--accent-color);
  background-color: var(--text-color-light);
}

/* FAQ */
.faq-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.faq-block details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(233, 234, 235, 0.2);
}
.faq-block details > summary {
  cursor: pointer;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  list-style: none;
}
.faq-block details > summary::-webkit-details-marker {
  display: none;
}
.faq-block .chevron-icon {
  height: 48px;
  width: 48px;
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}
.faq-block p.faq-text {
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.faq-block details[open] {
  border-bottom: 1px solid var(--accent-color);
}
.faq-block details[open] summary {
  color: var(--accent-color);
}
.faq-block details[open] .chevron-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faq-block details[open] .chevron-icon path {
  fill: #fff;
}

/* CONTACT US */
.departments {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.departments-item {
  padding: 24px;
  display: grid;
  grid-template-rows: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.departments-item a {
  margin-top: 16px;
  font-size: 22px;
  line-height: 145%;
}

.departments-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
}

.contact-block {
  margin: 56px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #3f873b;
}

.contact-description {
  padding: 40px;
  width: 100%;
}

.contact-block-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 145%;
  text-transform: uppercase;
}

.contact-block-text {
  margin: 4px 0 16px;
  font-size: 22px;
  line-height: 145%;
}

a.contact-block-mail {
  font-size: 22px;
  line-height: 145%;
}

a.contact-block-button {
  padding: 15px 40px;
  width: 100%;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--accent-color);
}
a.contact-block-button:hover {
  color: var(--accent-color);
  background-color: var(--text-color-light);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.3s, background-color 0.2s;
  transition: color 0.3s, background-color 0.2s;
}

/* FOOTER */
footer {
  padding: 56px 20px 32px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(233, 234, 235, 0.2);
}
footer .footer-logo {
  margin: 16px 125px 16px 0;
}
footer ul.footer-menu {
  gap: 32px;
}
footer ul.footer-menu li.footer-menu-item a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-light);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: color 0.3s, background-color 0.2s;
  transition: color 0.3s, background-color 0.2s;
}
footer ul.footer-menu li.footer-menu-item a:hover {
  cursor: pointer;
  color: var(--accent-color);
}
footer ul.footer-menu li.footer-menu-item a.social-item {
  display: none;
}
footer .social-block {
  margin: 0 78px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 16px;
}
footer .social-item {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 16px;
}
footer p.copyright {
  margin-top: 20px;
  padding: 10px;
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.8;
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 104px;
    line-height: 104px;
  }

  h2 {
    font-size: 64px;
    line-height: 68px;
  }

  section {
    padding: 0 40px;
  }

  .wrapper {
    margin: 48px 0;
  }

  .nav-logo {
    margin: 16px 16px 8px 8px;
  }

  .topnav {
    position: fixed;
    right: -100%;
    top: 0;
    padding: 75px 32px 32px;
    height: 100%;
    width: 428px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--primary-color-900);
  }

  .topnav.active {
    right: 0;
  }

  .nav-menu {
    width: 100%;
    overflow-y: auto;
  }

  .nav-item {
    padding: 24px 24px 24px 0;
    width: 100%;
    border-bottom: 1px solid var(--text-color);
  }
  .nav-item:hover:not(.active) .nav-link {
    color: var(--text-color-light);
    background: none;
  }
  .nav-item:hover:not(.active) .nav-link:hover {
    color: var(--accent-color);
  }
  .nav-item.active {
    border-bottom: 1px solid var(--accent-color);
  }
  .nav-item.active .nav-link {
    background: none;
    color: var(--accent-color);
  }
  .nav-item.active .nav-link:hover {
    color: var(--accent-color);
  }

  .dropdown:hover .dropbtn {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .dropdown .dropbtn {
    margin: 13px 0 0;
    display: block;
    float: right;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  .nav-link {
    padding: 0;
    height: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    background: none;
  }
  .nav-link:hover {
    color: var(--accent-color);
    background: none;
  }

  .sub-menu-cover {
    position: inherit;
    width: 100%;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
    border: none;
    z-index: 200;
  }
  .sub-menu-cover ul.sub-menu {
    padding: 0 0 16px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }
  .sub-menu-cover ul.sub-menu li.sub-menu-item {
    padding: 16px 24px 16px 0;
    font-size: 20px;
    text-align: left;
  }
  .sub-menu-cover ul.sub-menu li.sub-menu-item a {
    color: var(--text-color);
  }
  .sub-menu-cover ul.sub-menu li.sub-menu-item a:hover {
    color: var(--text-color-light);
  }

  .toggle-lang {
    display: none;
  }

  .toggle-lang-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hamburger {
    cursor: pointer;
    margin: 0 40px 16px 0;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .welcome-section {
    background-size: 50%;
  }
  .welcome-section a.btn-contact-us {
    margin-top: 48px;
  }

  .description-block {
    margin: 16px 0 0 0;
  }
  .description-block.left {
    margin: 16px 0 0 0;
  }
  .description-block p.description-block-subtitle {
    font-size: 40px;
    line-height: 145%;
  }
  .description-block p.description-block-text {
    margin-right: 120px;
    font-size: 20px;
    line-height: 145%;
  }
  .description-block p.description-block-text.become-description-text {
    margin-right: 0;
  }

  /* WHO WE ARE */
  .whoweare-section .advantages-block {
    margin: 48px 0 0 120px;
    padding: 32px;
  }
  .whoweare-section .advantages-block p.advantages-title {
    font-size: 40px;
  }
  .whoweare-section ul.advantages-list li {
    font-size: 22px;
  }

  /* WHAT WE DO */
  .whatwedo-grid-item:nth-child(3) {
    background-color: var(--primary-color-700);
  }
  .whatwedo-grid-item:nth-child(4), .whatwedo-grid-item:nth-child(5), .whatwedo-grid-item:nth-child(8) {
    background-color: var(--primary-color-800);
  }
  .whatwedo-grid-item:nth-child(6), .whatwedo-grid-item:nth-child(7) {
    background-color: var(--primary-color-900);
  }

  /* TEAM SECTION */
  .team-section {
    margin-bottom: 64px;
    padding: 32px 0;
  }
  .team-section .team-section-wrapper .team-card {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }
  .team-section .team-section-wrapper .team-card .team-member-photo {
    margin: 0 auto;
    max-width: 142px;
  }
  .team-section .team-section-wrapper .team-card .team-member-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-section .team-section-wrapper .team-card .team-member {
    padding-top: 16px;
  }
  .team-section .team-section-wrapper .team-card p.team-member-name {
    font-size: 20px;
  }

  /* WHAT WE DO */
  .whatwedo-grid {
    margin: 48px 0;
    grid-template-columns: 345px 345px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .whatwedo-grid-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .whatwedo-grid-item {
    height: 345px;
  }
  .whatwedo-grid-item:nth-child(9) {
    display: none;
  }
  .whatwedo-grid-item p.whatwedo-title {
    font-size: 24px;
  }
  .whatwedo-grid-item p.whatwedo-text {
    font-size: 20px;
  }

  /* GET ONLINE */
  .getonline-block {
    margin: 56px 0;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .getonline-block .getonline-live {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .getonline-block .getonline-live img {
    width: 100%;
    max-width: 370px;
  }
  .getonline-block .getonline-live .getonline-block-text {
    font-size: 22px;
  }

  /* QUOTE */
  .quote-section blockquote .quote-text {
    font-size: 22px;
  }

  /* BECOME */
  .become-block {
    margin-top: 48px;
  }
  .become-block .become-title {
    font-size: 24px;
  }
  .become-block .become-btn {
    font-size: 20px;
  }

  /* FAQ */
  .faq-block details > summary {
    font-size: 22px;
  }
  .faq-block p.faq-text {
    font-size: 16px;
  }

  /* CONTACT US */
  .departments {
    margin-top: 48px;
    grid-template-columns: 1fr;
  }

  .departments-name {
    font-size: 24px;
  }

  .contact-block-title {
    font-size: 24px;
  }

  .contact-block-text {
    margin: 0 0 16px;
    font-size: 20px;
  }

  a.contact-block-mail {
    font-size: 20px;
  }

  a.contact-block-button {
    font-size: 20px;
  }

  footer .footer-logo {
    margin: 16px 16px 16px 0;
  }
  footer .social-block {
    margin: 0 0 0 16px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .welcome-section {
    background: none;
  }

  .become-separator {
    display: block;
  }

  /* TEAM SECTION */
  .team-section {
    margin-bottom: 24px;
  }
  .team-section .team-section-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .team-section .team-section-wrapper .team-card .team-member-photo {
    max-width: 105px;
  }
  .team-section .team-section-wrapper .team-card .team-member {
    padding-top: 8px;
  }
  .team-section .team-section-wrapper .team-card p.team-member-position {
    font-size: 12px;
  }
  .team-section .team-section-wrapper .team-card p.team-member-name {
    font-size: 16px;
  }

  footer .footer-wrapper .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-wrapper ul.footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer-wrapper .social-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  section {
    padding: 0 16px;
  }

  header {
    min-height: 64px;
  }

  .navbar {
    min-height: 64px;
  }

  .topnav {
    padding: 72px 16px 16px;
    width: 100%;
  }

  .hamburger {
    margin: 0 16px 16px 0;
  }

  .nav-logo {
    margin: 0 0 16px 16px;
    z-index: 10;
  }
  .nav-logo img {
    height: 32px;
    width: auto;
  }

  .nav-item {
    padding: 16px;
  }

  .nav-link {
    font-size: 20px;
  }

  .sub-menu-cover ul.sub-menu li.sub-menu-item {
    padding: 12px 12px 12px 0;
    font-size: 18px;
  }

  main {
    padding: 64px 0 0;
  }

  .welcome-section p.text-slogan {
    font-size: 14px;
    letter-spacing: 1.82px;
  }
  .welcome-section a.btn-contact-us {
    margin-top: 32px;
    padding: 10px 40px;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .wrapper {
    margin: 32px 0;
  }

  /* WHAT WE DO */
  .whatwedo-grid {
    margin: 32px 0;
    grid-template-columns: 172px 172px;
  }

  .whatwedo-grid-contact a.whatwedo-grid-contact-btn {
    width: 164px;
    min-height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .whatwedo-grid-item {
    height: 172px;
    padding: 16px;
  }
  .whatwedo-grid-item p.whatwedo-title {
    font-size: 16px;
  }
  .whatwedo-grid-item p.whatwedo-text {
    display: none;
  }

  /* GET ONLINE */
  .getonline-block {
    margin: 32px 0;
    gap: 12px;
  }
  .getonline-block .getonline-live .getonline-block-text {
    font-size: 16px;
  }

  a.getonline-vibeo-btn {
    min-height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
  }

  /* QUOTE */
  .quote-section blockquote .quote-text-start {
    width: 27px;
    height: auto;
    top: -30px;
  }
  .quote-section blockquote .quote-text-end {
    width: 27px;
    height: auto;
    bottom: 5px;
  }
  .quote-section blockquote .quote-text {
    font-size: 16px;
  }
  .quote-section blockquote .quote-author-block {
    margin: 8px 52px 0 auto;
  }
  .quote-section blockquote .quote-author-block p.quote-author-name {
    font-size: 14px;
  }
  .quote-section blockquote .quote-author-block img.quote-author-avatar {
    height: 24px;
    width: 24px;
  }

  /* BECOME */
  .become-block .become-title {
    padding: 12px 0;
    font-size: 20px;
  }
  .become-block .become-title svg {
    width: 31.248px;
    height: 22px;
  }
  .become-block .become-btn {
    margin-top: 32px;
    padding: 10px 15px;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  /* FAQ */
  .faq-block details > summary {
    padding: 12px 0;
    font-size: 16px;
  }
  .faq-block details > summary .chevron-icon {
    width: 31.248px;
    height: 22px;
  }
  .faq-block p.faq-text {
    font-size: 14px;
  }

  /* CONTACT US */
  .departments-name {
    font-size: 16px;
  }

  .departments-item a {
    margin-top: 4px;
    font-size: 16px;
  }

  .contact-description {
    padding: 16px;
  }

  .contact-block {
    margin: 0;
  }

  .description-block {
    margin: 8px 0 0;
  }
  .description-block p.description-block-subtitle {
    font-size: 28px;
  }
  .description-block p.description-block-text {
    margin-right: 60px;
    font-size: 16px;
  }

  /* WHO WE ARE */
  .whoweare-section .advantages-block {
    margin: 48px 0 0 60px;
    padding: 16px;
  }
  .whoweare-section .advantages-block p.advantages-title {
    font-size: 28px;
  }
  .whoweare-section ul.advantages-list li {
    font-size: 16px;
  }

  .contact-block-title {
    font-size: 16px;
  }

  .contact-block-text {
    margin: 0 0 16px;
    font-size: 16px;
  }

  a.contact-block-mail {
    font-size: 16px;
  }

  a.contact-block-button {
    min-height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
  }

  footer {
    padding: 48px 20px 32px;
  }
  footer .footer-wrapper .footer-logo {
    margin: 0 0 16px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 127px;
            flex: 0 0 127px;
  }
  footer .footer-wrapper ul.footer-menu {
    padding-bottom: 22px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item a {
    margin: 12px 12px 12px 0;
    padding: 0;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item.social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item.social-item a {
    margin: 0;
    height: 24px;
  }
  footer .footer-wrapper ul.footer-menu li.footer-menu-item.social-item a img {
    height: 24px;
  }
  footer .footer-wrapper .social-block {
    display: none;
  }
  footer p.copyright {
    font-size: 14px;
  }
}
