@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: local(''), url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local(''), url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local(''), url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color-500: #3f873b;
  --primary-color-600: #2d5837;
  --primary-color-700: #244035;
  --primary-color-800: #203634;
  --primary-color-900: #1e3234;
  --background-dark: #1a2833;
  --text-color: #abb0b4;
  --text-color-light: #e9eaeb;
  --accent-color: #255cf5;
}

html {
  min-height: 100%;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  background-color: var(--background-dark);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  font-family: -apple-system, -apple-system, 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color-light);
  -webkit-font-smoothing: antialiased;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  min-height: 88px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--primary-color-800);
  z-index: 100;
}

.nav-logo {
  margin: 16px 125px 16px 8px;
}

.toggle-lang {
  margin: 0 8px 16px auto;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.toggle-lang-mobile {
  display: none;
  margin-top: 24px;
  padding: 24px 0 0;
  flex-flow: row wrap;
  gap: 32px;

  .toggle-lang-text {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;

    &.active {
      color: var(--accent-color);
    }
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color-light);
}

.navbar {
  min-height: 88px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.topnav {
  display: flex;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  &:hover:not(.active) {
    .nav-link {
      color: var(--accent-color);
      background-color: var(--text-color-light);
    }
  }

  &.active {
    .nav-link {
      background-color: var(--accent-color);

      &:hover {
        color: var(--text-color-light);
      }
    }
  }
}

.nav-link {
  padding: 34px 24px 16px 24px;
  height: 88px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition-timing-function: ease;
  transition: color 0.2s, background-color 0.3s;

  &:hover {
    color: var(--accent-color);
  }
}

.dropdown {
  .dropbtn {
    display: none;
  }
}

.sub-menu-cover {
  position: absolute;
  left: 0;
  top: 88px;
  width: 100%;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--primary-color-800);
  z-index: 200;
  overflow: hidden;

  ul.sub-menu {
    padding: 16px 0;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid var(--accent-color);

    li.sub-menu-item {
      padding: 16px 24px;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
    }
  }
}

.dropdown:hover .sub-menu-cover {
  display: flex;
}

main {
  padding: 88px 0 0;
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.cover-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

section {
  padding: 56px 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  flex: 1 1 100%;
  font-weight: 700;
  font-size: 128px;
  line-height: 113px;
  color: var(--text-color);

  span {
    color: var(--primary-color-500);
  }
}

h2 {
  margin-bottom: 32px;
  width: 100%;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  color: var(--text-color);
  text-transform: uppercase;

  span {
    color: var(--primary-color-500);
  }
}

h3 {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
  transition-timing-function: ease;
  transition: color 0.3s;

  &:hover {
    color: var(--accent-color);
  }
}

.description-block {
  padding-left: 410px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  &.left {
    padding: 0 410px 0 0;
  }

  p.description-block-subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
    text-transform: uppercase;
  }

  p.description-block-text {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 400;
    line-height: 145%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.badge-block {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  .badge-block-btn {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    background-color: var(--primary-color-500);

    &:hover {
      background-color: var(--text-color-light);
    }
  }
}

/* WELCOME SECTION */
.welcome-section {
  max-width: 1920px;
  background: url('../img/bg/bg-welcome-section.png') center right no-repeat;
}

p.text-slogan {
  width: 100%;
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

a.btn-contact-us {
  margin-top: 56px;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color-light);
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  transition-timing-function: ease;
  transition: color 0.5s, background-color 0.3s;

  &:hover {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--text-color-light);
  }
}

/* WHO WE ARE */
.whoweare-section {
  margin-bottom: 40px;
}

.advantages-block {
  margin: 48px 0 0 0;
  padding: 40px;
  width: 100%;
  background-color: var(--primary-color-500);
}

p.advantages-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

ul.advantages-list {
  margin: 16px 0 0 24px;
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  list-style-type: disc;

  li {
    width: 100%;
    font-size: 22px;
    line-height: 145%;
  }
}

/* TEAM SECTION */
.team-section {
  margin-bottom: 80px;
  padding: 48px 0;
  max-width: 1440px;
  background-color: var(--primary-color-900);

  .team-section-wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;

    .team-card {
      display: grid;
      grid-template-columns: 173px 1fr;
      gap: 32px;

      .team-member-photo {
        display: block;
        width: 100%;
        max-width: 173px;
        border-radius: 50%;
      }

      .team-member {
        padding-top: 27px;
      }

      p.team-member-position {
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
      }

      p.team-member-name {
        margin: 6px 0 16px;
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        text-transform: uppercase;
      }

      .team-member-contacts {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
      }
    }
  }
}

/* WHAT WE DO */
.whatwedo-grid {
  margin-top: 56px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.whatwedo-grid-contact {
  display: none;
  justify-content: center;
  flex: 1 1 100%;

  a.whatwedo-grid-contact-btn {
    display: flex;
    width: 345px;
    min-height: 56px;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--accent-color);

    &:hover {
      color: #255cf5;
      background-color: var(--text-color-light);
    }
  }
}

.whatwedo-grid-item {
  padding: 24px;
  height: 400px;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color-600);
  transition-timing-function: ease;
  transition: 0.75s;

  &:nth-child(2),
  &:nth-child(4) {
    background-color: var(--primary-color-700);
  }

  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(7) {
    background-color: var(--primary-color-800);
  }

  &:nth-child(6),
  &:nth-child(8) {
    background-color: var(--primary-color-900);
  }

  &:nth-child(9) {
    background-color: var(--accent-color);
  }

  &:hover {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--text-color-light);
  }
}

.whatwedo-text-block {
  display: grid;
  grid-template-rows: 1fr;
}

.whatwedo-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
}

.whatwedo-text {
  margin-top: 8px;
  font-size: 22px;
  line-height: 145%;
}

/* GET ONLINE */
.getonline-block {
  margin: 56px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 32px;
}

.getonline-block-text {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.12px;
  text-align: center;
}

.getonline-live {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.getonline-vibeo-section {
  display: flex;
  flex-flow: row wrap;
}

.getonline-video {
  width: 100%;
  height: 336px;
}

a.getonline-vibeo-btn {
  padding: 15px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  transition-timing-function: ease;
  transition: color 0.5s, background-color 0.3s;

  &:hover {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--text-color-light);
  }
}

/* QUOTE SECTION */
.quote-section {
  justify-content: center;
  z-index: 1;

  .quote-section-wrapper {
    justify-content: center;
  }

  blockquote {
    position: relative;
    max-width: 970px;
    display: flex;
    flex-flow: row wrap;

    .quote-text-start {
      position: absolute;
      left: 0;
      top: -80px;
    }

    .quote-text-end {
      position: absolute;
      right: 0;
      bottom: -30px;
    }

    .quote-text {
      display: flex;
      flex: 1 1 100%;
      font-weight: 500;
      font-size: 24px;
      line-height: 170%;
    }

    .quote-author-block {
      margin: 14px 112px 0 auto;
      display: flex;
      align-items: center;
      gap: 8px;

      img.quote-author-avatar {
        border-radius: 50%;
      }

      p.quote-author-name {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

/* BECOME */
.become-separator {
  display: none;
}

.become-block {
  margin: 56px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.job-btn-full {
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px solid rgba(233, 234, 235, 0.2);

  &:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);

    path {
      fill: #fff;
    }
  }
}

.become-btn {
  margin-top: 48px;
  padding: 15px 40px;
  min-height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--accent-color);

  &:hover {
    color: var(--accent-color);
    background-color: var(--text-color-light);
  }
}

/* FAQ */
.faq-block {
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;

  details {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(233, 234, 235, 0.2);
  }

  details > summary {
    cursor: pointer;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  .chevron-icon {
    height: 48px;
    width: 48px;
    transition: transform 150ms ease-in;
  }

  p.faq-text {
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }

  details[open] {
    border-bottom: 1px solid var(--accent-color);

    summary {
      color: var(--accent-color);
    }

    .chevron-icon {
      transform: rotate(90deg);

      path {
        fill: #fff;
      }
    }
  }
}

/* CONTACT US */
.departments {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.departments-item {
  padding: 24px;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  text-align: center;

  a {
    margin-top: 16px;
    font-size: 22px;
    line-height: 145%;
  }
}

.departments-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-transform: uppercase;
}

.contact-block {
  margin: 56px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #3f873b;
}

.contact-description {
  padding: 40px;
  width: 100%;
}

.contact-block-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 145%;
  text-transform: uppercase;
}

.contact-block-text {
  margin: 4px 0 16px;
  font-size: 22px;
  line-height: 145%;
}

a.contact-block-mail {
  font-size: 22px;
  line-height: 145%;
}

a.contact-block-button {
  padding: 15px 40px;
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--accent-color);

  &:hover {
    color: var(--accent-color);
    background-color: var(--text-color-light);
    transition-timing-function: ease;
    transition: color 0.3s, background-color 0.2s;
  }
}

/* FOOTER */
footer {
  padding: 56px 20px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(233, 234, 235, 0.2);
  }

  .footer-logo {
    margin: 16px 125px 16px 0;
  }

  ul.footer-menu {
    gap: 32px;

    li.footer-menu-item {
      a {
        padding: 10px;
        display: flex;
        align-items: center;
        color: var(--text-color-light);
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        transition-timing-function: ease;
        transition: color 0.3s, background-color 0.2s;

        &:hover {
          cursor: pointer;
          color: var(--accent-color);
        }

        &.social-item {
          display: none;
        }
      }
    }
  }

  .social-block {
    margin: 0 78px 0 auto;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
  }

  .social-item {
    display: none;
    flex: 0 0 auto;
    gap: 16px;
  }

  p.copyright {
    margin-top: 20px;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.8;
  }
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 104px;
    line-height: 104px;
  }

  h2 {
    font-size: 64px;
    line-height: 68px;
  }

  section {
    padding: 56px 40px;
  }

  // TOP NAV
  .nav-logo {
    margin: 16px 16px 8px 8px;
  }

  .topnav {
    position: fixed;
    right: -100%;
    top: 0;
    padding: 75px 32px 32px;
    height: 100%;
    width: 428px;
    transition: 0.3s;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--primary-color-900);
  }

  .topnav.active {
    right: 0;
  }

  .nav-menu {
    width: 100%;
    overflow-y: auto;
  }

  .nav-item {
    padding: 24px 24px 24px 0;
    width: 100%;
    border-bottom: 1px solid var(--text-color);

    &:hover:not(.active) {
      .nav-link {
        color: var(--text-color-light);
        background: none;

        &:hover {
          color: var(--accent-color);
        }
      }
    }

    &.active {
      border-bottom: 1px solid var(--accent-color);

      .nav-link {
        background: none;
        color: var(--accent-color);

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .dropdown {
    &:hover {
      .dropbtn {
        transform: rotate(180deg);
      }
    }
    .dropbtn {
      margin: 13px 0 0;
      display: block;
      float: right;
      transition: transform 0.2s ease-in-out;
    }
  }

  .nav-link {
    padding: 0;
    height: auto;
    display: inline-flex;
    align-items: center;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    background: none;

    &:hover {
      color: var(--accent-color);
      background: none;
    }
  }

  .sub-menu-cover {
    position: inherit;
    width: 100%;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    background: none;
    border: none;
    z-index: 200;

    ul.sub-menu {
      padding: 0 0 16px 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      border: none;

      li.sub-menu-item {
        padding: 16px 24px 16px 0;
        font-size: 20px;
        text-align: left;

        a {
          color: var(--text-color);

          &:hover {
            color: var(--text-color-light);
          }
        }
      }
    }
  }

  .toggle-lang {
    display: none;
  }

  .toggle-lang-mobile {
    display: flex;
  }

  // Hamburger
  .hamburger {
    cursor: pointer;
    margin: 0 40px 16px 0;
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .welcome-section {
    background-size: 400px;

    a.btn-contact-us {
      margin-top: 48px;
    }
  }

  .description-block {
    padding: 16px 0 0 0;

    &.left {
      padding: 16px 0 0 0;
    }

    p.description-block-subtitle {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 145%;
    }

    p.description-block-text {
      margin-right: 120px;
      font-size: 20px;
      line-height: 145%;

      &.become-description-text {
        margin-right: 0;
      }
    }
  }

  /* WHO WE ARE */

  .advantages-block {
    margin: 48px 0 0 120px;
    padding: 32px;
  }

  p.advantages-title {
    font-size: 40px;
  }

  ul.advantages-list {
    li {
      font-size: 22px;
    }
  }

  /* WHAT WE DO */
  .whatwedo-grid-item {
    &:nth-child(3) {
      background-color: var(--primary-color-700);
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      background-color: var(--primary-color-800);
    }

    &:nth-child(6),
    &:nth-child(7) {
      background-color: var(--primary-color-900);
    }
  }

  /* TEAM SECTION */
  .team-section {
    margin-bottom: 64px;
    padding: 32px 0;

    .team-section-wrapper .team-card {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 0;

      .team-member-photo {
        margin: 0 auto;
        max-width: 142px;
      }

      .team-member-contacts {
        justify-content: center;
      }

      .team-member {
        padding-top: 16px;
      }

      p.team-member-name {
        font-size: 20px;
      }
    }
  }

  /* WHAT WE DO */
  .whatwedo-grid {
    margin: 48px 0;
    grid-template-columns: 345px 345px;
    justify-content: center;
  }

  .whatwedo-grid-contact {
    display: flex;
  }

  .whatwedo-grid-item {
    height: 345px;

    &:nth-child(9) {
      display: none;
    }

    p.whatwedo-title {
      font-size: 24px;
    }

    p.whatwedo-text {
      font-size: 20px;
    }
  }

  /* GET ONLINE */
  .getonline-block {
    margin: 56px 0;
    grid-template-columns: 1fr;
    gap: 32px;

    .getonline-live {
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      img {
        width: 100%;
        max-width: 370px;
      }

      .getonline-block-text {
        font-size: 22px;
      }
    }
  }

  /* QUOTE */
  .quote-section blockquote {
    .quote-text {
      font-size: 22px;
    }
  }

  /* BECOME */
  .become-block {
    margin-top: 48px;
  }
  .job-btn-full {
    font-size: 24px;
  }

  .become-btn {
    font-size: 20px;
  }

  /* FAQ */
  .faq-block {
    details > summary {
      font-size: 22px;
    }

    p.faq-text {
      font-size: 16px;
    }
  }

  /* CONTACT US */
  .departments {
    margin-top: 48px;
    grid-template-columns: 1fr;
  }

  .departments-name {
    font-size: 24px;
  }

  .contact-block-title {
    font-size: 24px;
  }

  .contact-block-text {
    margin: 0 0 16px;
    font-size: 20px;
  }

  a.contact-block-mail {
    font-size: 20px;
  }

  a.contact-block-button {
    font-size: 20px;
  }

  footer {
    .footer-logo {
      margin: 16px 16px 16px 0;
    }
    .social-block {
      margin: 0 0 0 16px;
    }
  }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .welcome-section {
    background: none;
  }

  .become-separator {
    display: block;
  }

  /* TEAM SECTION */
  .team-section {
    margin-bottom: 24px;

    .team-section-wrapper {
      grid-template-columns: 1fr;
      gap: 40px;

      .team-card {
        .team-member-photo {
          max-width: 105px;
        }

        .team-member {
          padding-top: 8px;
        }

        p.team-member-position {
          font-size: 12px;
        }

        p.team-member-name {
          font-size: 16px;
        }
      }
    }
  }

  footer {
    .footer-wrapper {
      .footer-logo {
        order: 1;
      }

      ul.footer-menu {
        flex: 1 1 100%;
        justify-content: center;
        order: 3;
      }

      .social-block {
        order: 2;
      }
    }
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  section {
    padding: 0 16px;
  }

  header {
    min-height: 64px;
  }

  .navbar {
    min-height: 64px;
  }

  .topnav {
    padding: 72px 16px 16px;
    width: 100%;
  }

  .hamburger {
    margin: 0 16px 16px 0;
  }

  .nav-logo {
    margin: 0 0 16px 16px;
    z-index: 10;

    img {
      height: 32px;
      width: auto;
    }
  }

  .nav-item {
    padding: 16px;
  }

  .nav-link {
    font-size: 20px;
  }

  .sub-menu-cover ul.sub-menu li.sub-menu-item {
    padding: 12px 12px 12px 0;
    font-size: 18px;
  }

  main {
    padding: 64px 0 0;
  }

  p.text-slogan {
    font-size: 14px;
    letter-spacing: 1.82px;
  }

  a.btn-contact-us {
    margin-top: 32px;
    padding: 10px 40px;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  section {
    padding: 28px 16px;
  }

  /* WHAT WE DO */
  .whatwedo-grid {
    margin: 32px 0;
    grid-template-columns: 172px 172px;
  }

  .whatwedo-grid-contact {
    a.whatwedo-grid-contact-btn {
      width: 164px;
      min-height: 40px;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .whatwedo-grid-item {
    height: 172px;
    padding: 16px;

    p.whatwedo-title {
      font-size: 16px;
    }

    p.whatwedo-text {
      display: none;
    }
  }

  /* GET ONLINE */
  .getonline-block {
    margin: 32px 0;
    gap: 12px;

    .getonline-live {
      .getonline-block-text {
        font-size: 16px;
      }
    }
  }

  a.getonline-vibeo-btn {
    min-height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
  }

  /* QUOTE */
  .quote-section blockquote {
    .quote-text-start {
      width: 27px;
      height: auto;
      top: -30px;
    }

    .quote-text-end {
      width: 27px;
      height: auto;
      bottom: 5px;
    }

    .quote-text {
      font-size: 16px;
    }

    .quote-author-block {
      margin: 8px 52px 0 auto;

      p.quote-author-name {
        font-size: 14px;
      }

      img.quote-author-avatar {
        height: 24px;
        width: 24px;
      }
    }
  }

  /* BECOME */
  .job-btn-full {
    padding: 12px 0;
    font-size: 20px;

    svg {
      width: 31.248px;
      height: 22px;
    }
  }

  .become-btn {
    margin-top: 32px;
    padding: 10px 15px;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  /* BADGE BLOCK */
  .badge-block {
    gap: 12px;

    .badge-block-btn {
      padding: 6px 12px;
      font-size: 14px;
    }
  }

  /* FAQ */
  .faq-block {
    details > summary {
      padding: 12px 0;
      font-size: 16px;

      .chevron-icon {
        width: 31.248px;
        height: 22px;
      }
    }

    p.faq-text {
      font-size: 14px;
    }
  }

  /* CONTACT US */
  .departments-name {
    font-size: 16px;
  }

  .departments-item a {
    margin-top: 4px;
    font-size: 16px;
  }

  .contact-description {
    padding: 16px;
  }

  .contact-block {
    margin: 0;
  }

  .description-block {
    padding: 8px 0 0;

    p.description-block-subtitle {
      font-size: 28px;
    }

    p.description-block-text {
      margin-right: 60px;
      font-size: 16px;
    }
  }

  /* WHO WE ARE */
  .advantages-block {
    margin: 48px 0 0 60px;
    padding: 16px;
  }

  p.advantages-title {
    font-size: 28px;
  }

  ul.advantages-list {
    li {
      font-size: 16px;
    }
  }

  .contact-block-title {
    font-size: 16px;
  }

  .contact-block-text {
    margin: 0 0 16px;
    font-size: 16px;
  }

  a.contact-block-mail {
    font-size: 16px;
  }

  a.contact-block-button {
    min-height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
  }

  footer {
    padding: 48px 20px 32px;

    .footer-wrapper {
      .footer-logo {
        margin: 0 0 16px 0;
        flex: 0 0 127px;
      }

      ul.footer-menu {
        padding-bottom: 22px;
        justify-content: flex-start;
        gap: 0;

        li.footer-menu-item {
          flex: 0 0 50%;
          align-items: center;

          a {
            margin: 12px 12px 12px 0;
            padding: 0;
          }

          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
          }
          &:nth-child(3) {
            order: 5;
          }
          &:nth-child(4) {
            order: 2;
          }
          &:nth-child(5) {
            order: 4;
          }

          &.social-item {
            display: flex;
            order: 6;

            a {
              margin: 0;
              height: 24px;

              img {
                height: 24px;
              }
            }
          }
        }
      }

      .social-block {
        display: none;
      }
    }

    p.copyright {
      font-size: 14px;
    }
  }
}
